.content{
    background-color: #7beb5f;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .contentItem {
      margin-left: 5px;
      color: #01250d;
  }

  .newPost {
      color: red;
  }