
.nav{
    background-color: #2c9711;
  }
  
  .navbarItem {
    margin-left: 15px;
    margin-top: 7px;
    color: #01450d;   

  }

  a {
    text-decoration: none;
    color: #05491f;
  }
  
  a:hover{
    color: #0ab312;
  }

  .activeLink {
    color: #94f3a9;
    
}