@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.main {
  background-color: #d6fccd;
  height: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #05491f;
}

a:hover{
  color: #0ab312;
}

.header img {
  width:20px;
}

.app-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";
 

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
}

.content{
  grid-area: c;

  background-color: brown;
  
}

.header{
    grid-area: h;

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}


.nav{
  grid-area: n;
  background-color: #02d461;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}



